# ============ SPARK_CONFIGURATION ===========
SPARK_APP_NAME=wisedata
SPARK_MASTER_URL=local[*]
SPARK_DRIVER_MEMORY=4g
SPARK_EXTRA_JAVA_OPTIONS=-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED

# ============ DATA SOURCE CONFIGURATION ============
DATA_SOURCE_URL=
DATA_SOURCE_USER=
DATA_SOURCE_PASSWORD=
DATA_SOURCE_TABLE=
DATA_SOURCE_NUM_PARTITIONS=
DATA_SOURCE_FETCH_SIZE=
DATA_SOURCE_PARTITION_COLUMN=
DATA_SOURCE_LOWER_BOUND=
DATA_SOURCE_UPPER_BOUND=

# ============ DATA SINK CONFIGURATION ============
DATA_SINK_URL=
DATA_SINK_USER=
DATA_SINK_PASSWORD=
DATA_SINK_TABLE=
DATA_SINK_NUM_PARTITIONS=
DATA_SINK_BATCH_SIZE=
